<div class="mg4" id="configpropsDiv" ng-controller="configpropsController">
    <div class="aBox pad4 bg5 bm10">
        <span class="ex00">Configuration Properties</span>&nbsp;
        <span class="fmtValue">{{ url }}</span>&nbsp;
        <span ng-show="wheel==true">&nbsp;<img src="/images/wheel.gif" border="0"/></span>
    </div>

    <table ng-show="error==false" class="tb01">
        <tr ng-repeat="prop in values">

            <!-- Start of set -->
            <td ng-if="prop.depth==-1" class="padSN base">
                <span class="fs90 roundedVal json">{{ prop.name }}</span>
            </td>
            <td ng-if="prop.depth==-1" class="padSN base wrapped" colspan="3">
                <span class="fs90 roundedVal json">{{ prop.value }}</span>
            </td>

            <!-- Item in set -->
            <td ng-if="prop.depth > 0" class="bmBox base"><span class="fs90">{{ prop.name }}</span></td>
            <td ng-if="prop.depth > 0" class="bmBox base wrapped"><span class="fs90">{{ prop.value }}</span></td>
            <td ng-if="prop.depth > 0" class="bmBox base"><span class="fs90 ex01">{{ prop.rank }}</span></td>
            <td ng-if="prop.depth > 0" class="bmBox base padLM"><span class="fs90">{{ prop.depth }}</span></td>
        </tr>
    </table>
    <div ng-show="error==true" class="pad4 tm10"><span class="ex01">Error</span></div>
</div>