<div class="mg4" ng-controller="page0Controller">
	<div class="bm20">Welcome!</div>

	<div>
		<div>
			<div>Actuate URL</div>
			<input type="text" class="wCOL1" ng-model="actuateURL"/>&nbsp;
			<input type="button" value="Check" ng-click="setManagementURL();"/>&nbsp;
			<input type="button" value="Authorization" ng-click="toggleAuth();"/>&nbsp;
			<input type="button" value="Local Reset" ng-click="localReset();"/>&nbsp;
		</div>
		
		<div ng-show="showAuth==true" class="tm10">
			<div>Authorization</div>
			<input type="text" class="wCOL1" ng-model="auth"/>
		</div>

		<div ng-show="warning">
			<span class="ex01">{{ warning }}</span>
		</div>

		<div class="tm20"><span class="ex01">You may explore actuator data of another application provided its CORS and security settings let you through.</span></div>

	</div>

</div>